---
layout: layouts/base.njk
---
<div class="home-slider home-feature grid-inherit" id="home-slider">
  {% for slide in slides %}
    <div class="slide"{% if loop.first %} data-active{% endif %}>
      <img src="{{ slide.file | url }}"
           alt="{{ slide.alt }}"
           style="object-position: {{ slide.focal_x or 50 }}% {{ slide.focal_y or 50 }}%">

      {% if slide.caption %}
      <div class="slide-caption">
        <a href="{{ slide.url | url }}">{{ slide.caption }}</a>
      </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

<div id="slider-cursor">
  <svg xmlns="http://www.w3.org/2000/svg"
       width="60"
       height="60"
       viewBox="0 0 60 60">
    <path d="M0 20 h60 L30 55 v-11 L44 27 H0z"
          fill="black" />
  </svg>
</div>

<script src="{{ 'assets/js/swipe.js' | url }}"></script>
<script src="{{ 'assets/js/home-slider.js' | url }}"></script>